<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
      <div class="row">
        <div class="span12 products">
          <h1><font color="white">Productos</font></h1>
          <div class="carousel slide " id="productCarrousel" >
            <div class="carousel-inner" >
              <div th:each="productList, plStat : ${productGroupList}" class="item" th:classappend="|${plStat.first ? 'active' : ''} ${plStat.odd ? 'odd' : 'even'}|" align="center">
                <div class="span12" >
                  <p th:each="product : ${productList}">
                    <div class="span3">
                      <img style=" width: 186px !important;height: 244px !important;" th:attr="src=@{${pathUrl} + ${product.projectPhotos.get(0).url}}" />
                      <br /><br /><br />
                      <font size="4" color="white"><p th:text="${product.name.split('-')[1]}"></p></font>
                      <p><HR COLOR="white" WIDTH="95%" size="5" /></p>
                      <div class="row-fluid" align="center">
                        <div class="span12" >
                          <div class="span2"></div>
                          <div class="span3"><font size="7">0</font><p>Financieros</p></div>
                          <div class="span2"><font size="7"> | </font></div>
                          <div class="span2"><font size="7">0</font><p>Inversionistas</p></div>
                        </div>
                      </div>
                      <a th:href="|@{/product/show(productId=${product.id})}|" class="btn btn-login btn-large " >Adquirir</a>
                      <br /><br />                      
                    </div>
                    <div class="span1"></div>
                  </p>
                </div>
              </div>
            </div>
            <a data-slide="prev" href="#productCarrousel" class="left carousel-control">‹</a>
            <a data-slide="next" href="#productCarrousel" class="right carousel-control">›</a>
          </div>
        </div>
      </div>
      <p><hr /></p>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#productCarrousel').carousel({
          interval: 3500
        });
      });
    </script>
  </div>
</body>
</html>
