<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      /*Change the colour*/
      .active img {
        border: 2px solid #333 !important;
      }
    </style>
  </head>
    <body>
      <div layout:fragment="content">
        <header id="rt-top-surround" class="rt-dark">
          <div class="row-fluid">
            <div class="span12">
              <div class="span2"></div>
              <div class="span8 products">
                <div class="span12 info" >
                  <div class="span5">
                    <br />
                    <img id="images" th:attr="src=@{'http://192.168.0.122/cienhundreds/photos/' + ${product.projectPhotos.get(0)['url']}}, data-zoom-image=@{'http://192.168.0.122/cienhundreds/photos/' + ${product.projectPhotos.get(0)['url']}}" width="460" height="460" />
                    <p></p>
                    <div id="gal1">
                      <span th:each="images : ${product.projectPhotos}">
                        <a href="#" th:attr="data-image=@{'http://192.168.0.122/cienhundreds/photos/' + ${images['url']}}, data-zoom-image=@{'http://192.168.0.122/cienhundreds/photos/' + ${images['url']}}">
                          <img id="img_01" th:attr="src=@{'http://192.168.0.122/cienhundreds/photos/' + ${images['url']}}" height="68px" width="100px" />
                        </a>
                      </span>
                    </div>
                  </div>
                  <div class="span6">
                    <br />
                    <font color="white" size="6"><p th:text="${product.getNameOfProduct()}" /></font>
                    <br />
                    <font size="6" color="black"><p th:text="'$'+${product.getElementInDescriptionByPosition(1)}"/></font>
                    <input type="image" th:src="@{/images/ BotonInvertir_Beneficios2.png}"/>
                    <hr />
                    <p th:utext="${product.getElementInDescriptionByPosition(2)}"></p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <script type="text/javascript">
          $(document).ready(function(){
            $('#images').ezPlus({
                gallery: 'gal1', cursor: 'pointer', galleryActiveClass: 'active',
                imageCrossfade: true, loadingIcon: 'http://www.elevateweb.co.uk/spinner.gif'
            });
            $('#images').bind('click', function (e) {
                var ez = $('#images').data('ezPlus');
                $.fancyboxPlus(ez.getGalleryList());
                return false;
            });          
          });
        </script>
      </div>
    </body>
  </html>