.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 100%;
    padding: 10px 0px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  100%;
    height: 266px;;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 266px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal,
.jcarousel-skin-tango .jcarousel-item,
.contenedor {
    height: auto;
}
.contenedor, 
.jcarousel-skin-tango .jcarousel-item {
    width: 260px;;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 45%;
    right: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(sprite-flechas.png) no-repeat -128px 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(sprite-flechas.png) -128px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -128px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -160px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 45%;
    left: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(sprite-flechas.png) no-repeat -32px 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(sprite-flechas.png) -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.info-proyecto {
	bottom: 0;
	position: absolute;
	width: 100%;
	line-height: 180%;
}
.jcarousel-list .avatar,
.jcarousel-list .mask {
	height: 260px;
	width: 260px;
	background-size: 100%;
	display: block;
	margin-bottom: 1em;
}
.big,
.info-proyecto h2 {
	color:#009ed3 !important;
}
.info-proyecto h2 {
	font-size:28px;
	line-height: 100%;
	height: 56px;
}
.cat{
	font-size: 18px;
	text-transform: uppercase;
	margin: 10px 0;
}
/** Proyectos **/
.big {
	font-size: 36px;
}
.small {
	text-transform:uppercase;
	font-size:12px;
}
.info-proyecto .datos {
	border-top: 1px solid #009ed3;
	margin-top: 0.5em;
}
.boton-wrap {
	margin: 0.5em 0;
}

.proyectos .barra, .proyectos .fondo_barra {
	height: 6px;
	border-radius: 4px;
}
.proyectos .fondo_barra {
	background: #FFF;
	margin-bottom: 14px;
}
.proyectos .barra {
	display: inherit;
	background: #33ffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDllZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #33ffff 0%, #009ed3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33ffff), color-stop(100%,#009ed3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33ffff 0%,#009ed3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33ffff 0%,#009ed3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33ffff 0%,#009ed3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #33ffff 0%,#009ed3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffff', endColorstr='#009ed3',GradientType=0 ); /* IE6-8 */
}
/** Productos **/
.poductos .avatar {
	border-radius:50%;
}
.info-proyecto .two-cols {
	display:inline-block;
	width: 50%;
	float: left;
	padding-top: 10px;
}
.info-proyecto .two-cols.first {
}
.info-proyecto .two-cols.second {
	border-left: 1px solid #009ed3;
	padding-left: 10px;
	width: auto;
}
.texto-proyectos {
	text-transform:none;
	font-weight:bold;
	margin: 0;
}
.recaudado {
	margin-bottom: 0;
	text-transform:uppercase;
}
.vertodoscarrusel {
    color: #002c61;
    position: absolute;
    right: 0px;
    top: 0px;
    height:30px;
    width: 25%;
    border-left: 3px solid #fff;
    background: #9cf;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
}

/*** footer modulo */
#wrap {
	border-bottom: 1px solid #009ed3;
	margin-bottom: 60px;
}



@media screen and (max-width: 1024px)  {
	.busqueda_tag {
		display: none;
	}
	.jcarousel-skin-tango .jcarousel-container-horizontal {
		width: 807px;
	}
	.incarruselfooter {
		width: 70%;
	}
	#rt-mainbody-surround .box1 .title, #rt-mainbody-surround .box1 h2{
		font-size:16px;
	}
	.vertodoscarrusel {
		height: 28px;
	}
	
}
@media screen and (max-width: 800px) and (max-height: 1280px) and (orientation: portrait){
	.jcarousel-skin-tango .jcarousel-container-horizontal {
		width: 540px;
		margin-left: 55px;
	}
	.incarruselfooter.last {
		left: 44%;
		padding: 0 49px 0 5px;
	}
}
@media screen and (max-width: 768px)  {
	.jcarousel-skin-tango .jcarousel-container-horizontal {
		width: 540px;
		margin-left: 55px;
	}
	.incarruselfooter.last {
		left: 45%;
		padding: 0 49px 0 5px;
	}
}
@media screen and (max-width : 960px) and (max-height : 640px) and (orientation: portrait) { 
	#wrap {
		margin: 0px 0px;
	}
	.jcarousel-skin-tango .jcarousel-container-horizontal {
		width: 260px;
		padding: 10px 0px;
		margin-left: 6px;
	}
	.jcarousel-skin-tango .jcarousel-next-horizontal {
		top: 58%;
		right: -15px;
		width: 32px;
		height: 32px;
	}
	.jcarousel-skin-tango .jcarousel-prev-horizontal {
		top: 58%;
		left: -20px;
		width: 32px;
		height: 32px;
	}
	.incarruselfooter {
		display: none;
	}
}
@media screen and (max-width : 960px) and (max-height : 640px) and (orientation: landscape) {  
	.jcarousel-skin-tango .jcarousel-container-horizontal {
		width: 270px;
		margin-left: 25px;
	}
	.incarruselfooter.last {
		display:none;
	}
	.busqueda_tag {
		display: none;
	}
	.submit-container {
		position: absolute;
	}
}