
#rt-mainbody-surround .info-proyecto h1,
#rt-mainbody-surround .info-proyecto h2,
#rt-mainbody-surround .info-proyecto h3,
#rt-mainbody-surround .info-proyecto h4,
#rt-mainbody-surround .info-proyecto h5
 {
	text-shadow: none;
	color: #000;
	margin: 0;
}
.jcarousel-list-horizontal .info-proyecto {
	position:relative;
}
.jcarousel-skin-tango .jcarousel-item-horizontal, 
.jcarousel-skin-tango .jcarousel-item-horizontal .jcarousel-item,
.jcarousel-skin-tango .contenedor 
{
	height: auto;
}
.contenedor {
	color: #000;
}
.info-proyecto .boton-wrap {
	text-align:right;
	margin-top: 12px;
}
.info-proyecto .titulo {
	height: 56px;
	margin: 10px 0;
}
.incarruselfooter {
	position: relative;
	top: -78px;
	margin-bottom:-90px;
	display: inline;
	float: left;
	width: 49%;
	height: 32px;
	padding-left:64px;
	font-weight: bold;
}
.incarruselfooter.last {
	left: 50%;
	padding: 0 49px 0 5px;
}
.incarruselfooter.last:after {
	clear: both;
}
.incarruselfooter a {
	color: #000;
	line-height: 32px;
	text-transform: uppercase;
	width: 266px;
	display: inline-block;
}
.productos .avatar {
	border-radius: 50%;
}
