<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Valuarte-Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  </head>
  <body>
    <div layout:fragment="content">
      <div class="container">
        <div class="row-fluid">
          <div class="span12 registro">
            <div class="alert alert-success" th:if="${clientUuid}">
             Se creo correctamente la solicitud : <span th:text="${clientUuid.uuid}"></span>
            </div>
            <h1 class="info">Solicitud de Préstamo y Formato de conocimiento del cliente</h1>
            <form id="credit" action="#" th:action="@{/adminCredit/save}" th:object="${creditCommand}" method="post" class="form">
              <div class="span12 info">
                <div class="span12">
                  <div class="control-group span10">
                    <label>Monto Solicitado</label>
                    <input type="text" th:field="*{clientCommand.montoPrestamo}" class="span4 search-query" />
                  </div>
                  <div class="control-group span2">
                     <label>Fecha de captura</label>
                    <b th:text="${date}" align="right"/>
                  </div>
                </div>
                <hr />
                <h1>1.- Datos Personales</h1>
                <div class="row-fluid">
                  <div class="span12">
                    <div class="span4">
                      <label>Nombre(s)</label>
                      <input type="text" th:field="*{clientCommand.nombre}" class="span10 search-query" />
                    </div>
                    <div class="span4">
                      <label>Apellido Paterno</label>
                      <input type="text" th:field="*{clientCommand.apellidoPaterno}" class="span10 search-query" />
                    </div>
                    <div class="span4">
                      <label>Apellido Materno</label>
                      <input type="text" th:field="*{clientCommand.apellidoMaterno}" class="span10 search-query" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12 ">
                    <div class="span3">
                     <label>Fecha de nacimeinto</label>
                     <input class="datepicker span10 search-query" id="edad" th:field="*{clientCommand.fechaNacimiento}" />
                    </div>
                    <div class="span3">
                      <label>Edad</label>
                      <input type="text" th:field="*{clientCommand.edad}" class="span10 search-query" />
                    </div>
                    <div class="span3">
                      <label>Estado civil</label>
                      <select name="estadoCivilEnum" class="form-control span10 search-query" th:field="*{clientCommand.estadoCivil}">
                        <option th:each=" estado : ${T(com.team.one.domain.enums.EstadoCivil).values()}" th:value="${estado}" th:text="${estado.value}"></option>
                      </select>
                    </div>
                    <div class="span3">
                      <label>Regimen Matrimonial</label>
                      <select name="regimenMatrimonialEnum" class="form-control span10 search-query" th:field="*{clientCommand.regimen}">
                        <option th:each="regimenM :${T(com.team.one.domain.enums.RegimenMatrimonial).values()}" th:value="${regimenM}" th:text="${regimenM.value}"></option>
                      </select>
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span3">
                      <label>Grado Maximo de Estudios</label>
                      <select name="gradoMaximoEnum" class="form-control span10 search-query" th:field="*{clientCommand.grado}">
                        <option th:each="gradoM : ${T(com.team.one.domain.enums.GradoMaximoEstudios).values()}" th:value="${gradoM}" th:text="${gradoM.value}"></option>
                      </select>
                      <p></p>
                      <input type="text" class="span10 search-query" id="gradoMaximoOtro" th:field="*{clientCommand.gradoOtro}" disabled="disabled" />
                    </div>
                    <div class="span3">
                      <label>Genero</label>
                      <select name="generoM" class="form-control span10 search-query" th:field="*{clientCommand.genero}">
                        <option th:each="generoM : ${T(com.team.one.domain.enums.Genero).values()}" th:value="${generoM}" th:text="${generoM.value}"></option>
                      </select>
                    </div>
                    <div class="span3">
                      <label>Tipo de Identificación</label>
                      <select class="form-control span10 search-query" name="TipoIdentificacionEnum" th:field="*{clientCommand.identificacion}">
                        <option th:each="tipo : ${T(com.team.one.domain.enums.TipoIdentificacion).values()}" th:value="${tipo}" th:text="${tipo.value}" ></option>
                      </select>
                      <p></p>
                      <input type="text" class="span10 search-query" th:field="*{clientCommand.identificacionOtro}"  disabled="disabled"/>
                    </div>
                    <div class="span3">
                      <label>RFC con Homoclave</label>
                      <input type="text" class="span10 search-query" th:field="*{clientCommand.rfc}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span4">
                      <label>CURP</label>
                      <input type="text" class="span10 search-query" th:field="*{clientCommand.curp}" />
                    </div>
                    <div class="span3">
                      <label>Clave de Elector</label>
                      <input type="text" class="span10 search-query" th:field="*{clientCommand.claveElector}" />
                    </div>
                    <div class="span3">
                      <label>Nacionalidad</label>
                      <input type="text" class="span10 search-query" th:field="*{clientCommand.nacionalidad}" />
                    </div>
                  </div>
                </div>
                <hr />
                <h1>2.- Información Domiciliaria</h1>
                <div class="row-fluid">
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span6">
                      <label>Domicilio</label>
                      <input type="tel" class="span10 search-query" th:field="*{addressCommand.domicilio}" />
                    </div>
                     <div class="span5">
                      <label>Telefono + Clave Lada</label>
                      <input type="tel" class="span10 search-query" th:field="*{addressCommand.telefono}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span5">
                      <label>Calle y Numero(exterior e interior)</label>
                      <input type="text" class="span10 search-query" th:field="*{addressCommand.calleYNumero}" />
                    </div>
                    <div class="span6">
                      <label>Colonia o Urbanización</label>
                      <input type="text" class="span10 search-query" th:field="*{addressCommand.colonia}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span3">
                      <label>Delegación,Municipio</label>
                      <input type="text" class="span10 search-query" th:field="*{addressCommand.delegacionMunicipio}" />
                    </div>
                    <div class="span3">
                      <label>Ciudad y Estado</label>
                      <input type="text" class="span10 search-query" th:field="*{addressCommand.ciudadOEstado}" />
                    </div>
                    <div class="span3">
                      <label>Codigo Postal</label>
                      <input class="span10 search-query" th:field="*{addressCommand.codigoPostal}" type="text" />
                    </div>
                    <div class="span3">
                      <label>Referencia y/o Ubicación</label>
                      <input type="text" class="span10 search-query" th:field="*{addressCommand.referenciaDomicilio}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span3">
                      <label>Celular</label>
                      <input type="tel" class="span10 search-query" th:field="*{addressCommand.celular}" />
                    </div>
                    <div class="span3">
                      <label>Oficina o Trabajo</label>
                      <input type="tel" class="span10 search-query" th:field="*{addressCommand.telefonoOficina}" />
                    </div>
                    <div class="span3">
                      <label>Pais</label>
                      <input type="text" class="span10 search-query" th:field="*{addressCommand.pais}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span3" >
                      <label>Correo Electronico</label>
                      <input type="email" class="span10 search-query" th:field="*{addressCommand.email}" />
                    </div>
                    <div class="span3">
                      <label>Tipo Vivienda</label>
                      <select class="form-control span10 search-query" name="tipoViviendaEnum" th:field="*{addressCommand.vivienda}">
                        <option th:each="viviendaM : ${T(com.team.one.domain.enums.TipoVivienda).values()}" th:value="${viviendaM}" th:text="${viviendaM.value}"></option>
                      </select>
                    </div>
                    <div class="span3">
                      <label>Tiempo de Residencia</label>
                      <input class="span10 search-query" th:field="*{addressCommand.tiempoResidencia}" type="text" />
                    </div>
                    <div class="span3">
                      <label>Renta</label>
                      <input class="span10 search-query" th:field="*{addressCommand.rentaCosto}" type="text" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span3">
                      <label>Hipoteca</label>
                      <input class="span10 search-query" th:field="*{addressCommand.hipotecaCosto}" type="text" />
                    </div>
                    <div class="span3">
                      <label>Dependientes economicos</label>
                      <input class="span10 search-query" th:field="*{addressCommand.dependientes}" type="text" />
                    </div>
                  </div>
                </div>
                <hr />
                <h1>3.- Información Laboral</h1>
                <div class="row-fluid">
                  <div class="span12">
                    <div class="span4">
                      <label>Profesión / Ocupación</label>
                      <input type="text" class="span10 search-query" th:field="*{workInfoCommand.profecion}" />
                    </div>
                    <div class="span4">
                      <label>Nombre de la empresa/negocio</label>
                      <input type="text" class="span10 search-query" th:field="*{workInfoCommand.empresa}" />
                    </div>
                    <div class="span4">
                      <label>Giro o Actividad</label>
                      <input type="text" class="span10 search-query" th:field="*{workInfoCommand.giroActividad}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                     <div class="span4">
                      <label>Tipo contrato</label>
                      <select class="form-span4 search-query" name="tipoContratoEnum" th:field="*{workInfoCommand.contrato}">
                        <option th:each="contratoM : ${T(com.team.one.domain.enums.TipoContrato).values()}" th:value="${contratoM}" th:text="${contratoM.value}"></option>
                      </select>
                    </div>
                    <div class="span4">
                      <label>Fecha de Ingreso</label>
                      <input class="datepicker span10 search-query" id="ingreso" th:field="*{workInfoCommand.fechaIngreso}" />
                    </div>
                    <div class="span4">
                      <label>Sueldo Mensual</label>
                      <input type="text" class="span10 search-query" th:field="*{workInfoCommand.sueldoMensual}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span5">
                      <label>Domicilio de la Empresa(calle, número, colonia, código postal)</label>
                      <input type="text" class="span10 search-query" th:field="*{workInfoCommand.domicilioEmpresa}" />
                    </div>
                    <div class="span4">
                      <label>Telélefono trabajo</label>
                      <input type="text" class="span10 search-query" th:field="*{workInfoCommand.telefonoEmpresa}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span5">
                      <label>Ciudad y Estado</label>
                      <input type="text" class="span10 search-query" th:field="*{workInfoCommand.ciudadEstadoEmpresa}" />
                    </div>
                  </div>
                </div>
                <hr />
                <h1>4.- Datos del aval(De ser necesarios)</h1>
                <div class="row-fluid">
                  <div class="span12">
                    <div class="span3">
                      <label>Nombre(s)</label>
                      <input class="span10 search-query" type="text" th:field="*{endorsementCommand.nombreAval}" />
                    </div>
                    <div class="span3">
                      <label>Apellido paterno</label>
                      <input class="span10 search-query" type="text" th:field="*{endorsementCommand.apellidoPaternoAval}" />
                    </div>
                    <div class="span3">
                      <label>Apellido materno</label>
                      <input class="span10 search-query" type="text" th:field="*{endorsementCommand.apellidoMaternoAval}" />
                    </div>
                    <div class="span3">
                     <label>Fecha de nacimeinto</label>
                     <input class="datepicker span10 search-query"  th:field="*{endorsementCommand.fechaNacimeintoAval}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span3">
                      <label>Tipo de Identificación</label>
                      <select class="form-control span10 search-query" name="TipoIdentificacionEnum" th:field="*{endorsementCommand.identificacionAval}">
                        <option th:each="tipo : ${T(com.team.one.domain.enums.TipoIdentificacion).values()}" th:value="${tipo}" th:text="${tipo.value}" ></option>
                      </select>
                      <p></p>
                      <input type="text" class="span10 search-query" th:field="*{endorsementCommand.identificacionOtroAval}"  disabled="disabled"/>
                    </div>
                    <div class="span3">
                      <label>Nombre de la empresa / Negocio</label>
                      <input class="span10 search-query" type="text" th:field="*{endorsementCommand.nombreEmpresaAval}" />
                    </div>
                    <div class="span3">
                      <label>Giro o Actividad</label>
                      <input class="span10 search-query" type="text" th:field="*{endorsementCommand.giroActividadAval}" />
                    </div>
                    <div class="span3">
                      <label>Telefono Fijo</label>
                      <input class="span10 search-query" type="text" th:field="*{endorsementCommand.telefonoTrabajoAval}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span5">
                      <label>Tipo contrato</label>
                      <select class="form-control span10 search-query" name="tipoContratoEnum" th:field="*{endorsementCommand.contratoAval}">
                        <option th:each="contratoM : ${T(com.team.one.domain.enums.TipoContrato).values()}" th:value="${contratoM}" th:text="${contratoM.value}"></option>
                      </select>
                    </div>
                    <div class="span5">
                      <label>Sueldo Mensual</label>
                      <input class="span10 search-query" type="text" th:field="*{endorsementCommand.sueldoMensualAval}" />
                    </div>

                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span5">
                      <label>Domicilio de la Empresa(calle, número, colonia,código postal)</label>
                      <input class="span10 search-query" type="text" th:field="*{endorsementCommand.domicilioEmpresaAval}" />
                    </div>
                    <div class="span5">
                      <label>Cuidad y Estado</label>
                      <input class="span10 search-query" type="text" th:field="*{endorsementCommand.ciudadEstadoAval}" />
                    </div>
                  </div>
                </div>
                <hr />
                <h1>5.- Referencias</h1>
                <div class="row-fluid">
                  <div class="span12"><h2>Referencia Familiar</h2></div>
                  <div class="span12">
                    <div class="span4">
                      <label>Nombre(s) y Apellidos paterno, materno</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.nombreCompletoRefFamiliar}" />
                    </div>
                    <div class="span4">
                      <label>Parentesco</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.parentescoFamiliar}" />
                    </div>
                    <div class="span3">
                      <label>Telefono Fijo</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.telefonoFamiliar}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span4">
                      <label>Domicilio: calle,núm,colonia,C.P</label>
                      <input class="span10 search-query" type="text"  th:field="*{referencesCommand.domicilioFamiliar}" />
                    </div>
                  </div>
                  <div class="span12"><h2>Referencia Familiares</h2></div>
                  <div class="span12">
                    <div class="span4">
                      <label>Nombre(s) y Apellidos paterno, materno</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.nombreCompletoRefLaboral}" />
                    </div>
                    <div class="span4">
                      <label>Parentesco</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.parentescoLaboral}" />
                    </div>
                    <div class="span3">
                      <label>Telefono Fijo</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.telefonoLaboral}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span4">
                      <label>Domicilio: calle,núm,colonia,C.P</label>
                      <input class="span10 search-query" type="text"  th:field="*{referencesCommand.domicilioLaboral}" />
                    </div>
                  </div>
                  <div class="span12"><h2>Referencia Personal</h2></div>
                  <div class="span12">
                    <div class="span4">
                      <label>Nombre(s) y Apellidos paterno, materno</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.nombreCompletoRefPersonal1}" />
                    </div>
                    <div class="span4">
                      <label>Parentesco</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.parentescoPersonal1}" />
                    </div>
                    <div class="span4">
                      <label>Telefono Fijo</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.telefonoPersonal1}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span4">
                      <label>Domicilio: calle,núm,colonia,C.P</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.domicilioPersonal1}" />
                    </div>
                  </div>
                  <div class="span12"><h2>Referencia Personal</h2></div>
                  <div class="span12">
                    <div class="span4">
                      <label>Nombre(s) y Apellidos paterno, materno</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.nombreCompletoRefPersonal2}" />
                    </div>
                    <div class="span4">
                      <label>Parentesco</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.parentescoPersonal2}" />
                    </div>
                    <div class="span4">
                      <label>Telefono Fijo</label>
                      <input class="span10 search-query" type="text" th:field="*{referencesCommand.telefonoPersonal2}" />
                    </div>
                  </div>
                  <div class="span12"></div>
                  <div class="span12">
                    <div class="span4">
                      <label>Domicilio: calle,núm,colonia,C.P</label>
                      <input class="span10 search-query" type="text" rows="6" th:field="*{referencesCommand.domicilioPersonal2}" />
                    </div>
                  </div>
                </div>
                <hr />
                <h1>6.- Información Financiera a Reestructurar</h1>
                <div class="row-fluid">
                  <div class="span12">
                    <div class="span5">
                      <div class="control-group">
                        <label>¿Cuenta usted con otros créditos actualmente?</label>
                        <input type="radio" th:field="*{financialInfoCommand.creditoActual}" name="creditoActual" value="true" />Si<br/>
                        <input type="radio" th:field="*{financialInfoCommand.creditoActual}" name="creditoActual" value="false" />No<br/>
                        <input type="hidden" th:field="*{financialInfoCommand.creditoActual}"/>
                      </div>
                    </div>
                    <div class="span5">
                      <div class="control-group">
                        <label>¿Actualmente garantiza o es aval de algua deuda de terceros?</label>
                        <input type="radio" th:field="*{financialInfoCommand.avalCreditoTercero}" name="avalCreditoTercero" value="true" />Si<br/>
                        <input type="radio" th:field="*{financialInfoCommand.avalCreditoTercero}" name="avalCreditoTercero" value="false" />No<br/>
                        <input type="hidden" th:field="*{financialInfoCommand.avalCreditoTercero}"/>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12"></div>
                    <div class="span12">
                      <div class="span4">
                        <label>Tipo de crédito o cuenta</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.tipoCreditoDeuda1}" />
                      </div>
                      <div class="span4">
                        <label>Institucion</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.institucionDeuda1}" />
                      </div>
                      <div class="span4">
                        <label>Numero de credito o cuenta</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.numeroCreditoDeuda1}" />
                      </div>
                    </div>
                    <div class="span12"></div>
                    <div class="span12">
                      <div class="span4">
                        <label>Monto otorgado</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.montoOtorgadoDeuda1}" />
                      </div>
                    </div>
                  </div>
                  <div class="span11"><hr /></div>
                  <div class="row-fluid">
                    <div class="span12"></div>
                    <div class="span12">
                      <div class="span4">
                        <label>Tipo de crédito o cuenta</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.tipoCreditoDeuda2}" />
                      </div>
                      <div class="span4">
                        <label>Institucion</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.institucionDeuda2}" />
                      </div>
                      <div class="span4">
                        <label>Numero de credito o cuenta</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.numeroCreditoDeuda2}" />
                      </div>
                    </div>
                    <div class="span12"></div>
                    <div class="span12">
                      <div class="span4">
                        <label>Monto otorgado</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.montoOtorgadoDeuda2}" />
                      </div>
                    </div>
                  </div>
                  <div class="span11"><hr /></div>
                  <div class="row-fluid">
                    <div class="span12"></div>
                    <div class="span12">
                      <div class="span4">
                        <label>Tipo de crédito o cuenta</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.tipoCreditoDeuda3}" />
                      </div>
                      <div class="span4">
                        <label>Institucion</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.institucionDeuda3}" />
                      </div>
                      <div class="span4">
                        <label>Numero de credito o cuenta</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.numeroCreditoDeuda3}" />
                      </div>
                    </div>
                    <div class="span12"></div>
                    <div class="span12">
                      <div class="span4">
                        <label>Monto otorgado</label>
                        <input class="span10 search-query" type="text" rows="6" th:field="*{financialInfoCommand.montoOtorgadoDeuda3}" />
                      </div>
                    </div>
                  </div>
                  <div class="span11"><hr /></div>
                  <div class="row-fluid">
                    <div class="span12"></div>
                    <div class="span12">
                      <div class="span4">
                        <label>Tipo de crédito o cuenta</label>
                        <input class="span10 search-query" type="text" th:field="*{financialInfoCommand.tipoCreditoDeuda4}" />
                      </div>
                      <div class="span4">
                        <label>Institucion</label>
                        <input class="span10 search-query" type="text" th:field="*{financialInfoCommand.institucionDeuda4}" />
                      </div>
                      <div class="span4">
                        <label>Numero de credito o cuenta</label>
                        <input class="span10 search-query" type="text" th:field="*{financialInfoCommand.numeroCreditoDeuda4}" />
                      </div>
                    </div>
                    <div class="span12"></div>
                    <div class="span12">
                      <div class="span4">
                        <label>Monto otorgado</label>
                        <input class="span10 search-query" type="text" th:field="*{financialInfoCommand.montoOtorgadoDeuda4}" />
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <h1>7.- Identificacion del Propietario Real / Otras Aportaciones</h1>
                <div class="row-fluid">
                  <div class="span12"></div>
                  <div class="span10">
                    <label>Para los efectos de esta solictud, ¿Usted actua a nombre propio o por cuenta de un tercero?</label>
                    <input type="radio" th:field="*{ownerCommand.actuar}" value="propio" />Propio<br/>
                    <input type="radio" th:field="*{ownerCommand.actuar}" value="tercero" />Tercero<br/>
                  </div>
                  <div class="span12"></div>
                  <div class="span10">
                    <label>¿Los recursos con los que liquidara su <b>PRESTAMO</b> otorgado por SERVICIOS FINANCIEROS CON VALORES S.A DE C.V son propios o de un tercero? </label>
                    <input type="radio" th:field="*{ownerCommand.recursos}"  value="propio" />Propio<br/>
                    <input type="radio" th:field="*{ownerCommand.recursos}"  value="tercero" />Tercero<br/>
                  </div>
                  <div class="span12"></div>
                  <div class="span10">
                    <label>¿Una persona distinta a usted, aportara recursos de forma regular para el pago de su prestamo con SERVICIOS FINANCIEROS CON VALORES S.A de C.V? </label>
                    <input type="radio" th:field="*{ownerCommand.aportaciones}" value="si" />Si<br/>
                    <input type="radio" th:field="*{ownerCommand.aportaciones}" value="no" />No<br/>
                  </div>
                </div>
                <hr />
                <h1>8.- Perfil Transaccional</h1>
                <div class="row-fluid">
                  <div class="span5">
                    <div class="control-group">
                      <label>Fuente de Ingresos</label>
                      <select name="fuenteIngresosEnum" class="form-control span10 search-query" th:field="*{transactionalProfileCommand.fuenteIngresos}">
                        <option th:each="fuenteM :${T(com.team.one.domain.enums.FuenteIngresos).values()}" th:value="${fuenteM}" th:text="${fuenteM.value}"></option>
                      </select>
                      <input type="text" id="fuenteIngresosOtros" class="span10 search-query" th:field="*{transactionalProfileCommand.fuenteIngresosOtros}"  disabled="disabled"/>
                    </div>
                    <div class="control-group">
                      <label>Rango de Ingresos</label>
                      <select name="rangoMensualEnum" class="form-control span10 search-query" th:field="*{transactionalProfileCommand.rangoMensual}">
                        <option th:each="rangoM :${T(com.team.one.domain.enums.RangoMensual).values()}" th:value="${rangoM}" th:text="${rangoM.value}"></option>
                      </select>
                    </div>
                  </div>
                  <div class="span5">
                    <div class="control-group">
                      <label>Profesión / Ocupasion</label>
                      <input class="span10 search-query" type="text" th:field="*{transactionalProfileCommand.profesionOcupacion}" />
                    </div>
                    <div class="control-group">
                      <label>Actividad o Giro del Negocio</label>
                      <input class="span10 search-query" type="text" th:field="*{transactionalProfileCommand.actividadGiroNegocio}" />
                    </div>
                    <div class="control-group">
                      <label>Numero de pagos semanales, quincenales o mensuales</label>
                      <input class="span10 search-query" type="text" th:field="*{transactionalProfileCommand.numeroPagosFrecuencia}" />
                    </div>
                    <div class="control-group">
                      <label>Monto semana, quincenal o mensual de los pagos</label>
                      <input class="span10 search-query" type="text" th:field="*{transactionalProfileCommand.montoPagos}" />
                    </div>
                    <div class="control-group">
                      <label>En caso de pagos adicionales, señalar el origen de los recursos</label>
                      <select name="origenRecursosEnum" class="form-control span10 search-query" th:field="*{transactionalProfileCommand.origenRecursos}">
                        <option th:each="orignM :${T(com.team.one.domain.enums.OrigenRecursos).values()}" th:value="${orignM}" th:text="${orignM.value}"></option>
                      </select>
                    </div>
                    <div class="control-group">
                      <label>Y el instrumento de pago</label>
                      <select name="instrumentoPagoEnum" class="form-control span10 search-query" th:field="*{transactionalProfileCommand.instrumentoPago}">
                        <option th:each="instrumentoM :${T(com.team.one.domain.enums.InstrumentoPago).values()}" th:value="${instrumentoM}" th:text="${instrumentoM.value}"></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span11" align="right">
                <button class="btn btn-primary" type="submit">Guardar Solicitud</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <br /><br />
      <script type="text/javascript">
        $(".datepicker").pickadate({
          format: 'mm/dd/yyyy',
          formatSubmit: 'mm/dd/yyyy',
          hiddenName: true
        });
        $('#grado').change(function() {
          var option = $(this).find('option:selected');
          if (option.text() == "Otro") {
            $("#gradoMaximoOtro").removeAttr("disabled");
          } else {
            if($("#gradoMaximoOtro").val() != "") {
              $("#gradoMaximoOtro").val("");
            }
             $("#gradoMaximoOtro").attr("disabled","disabled");
          }
        });
        $('#identificacion').change(function() {
          var option = $(this).find('option:selected');
          if (option.text() == "Otro") {
            $("#identificacionOtro").removeAttr("disabled");
          } else {
            if($("#identificacionOtro").val() != "") {
              $("#identificacionOtro").val("");
            }
             $("#identificacionOtro").attr("disabled","disabled");
          }
        });
        $('#identificacionAval').change(function() {
          var option = $(this).find('option:selected');
          if (option.text() == "Otro") {
            $("#identificacionOtroAval").removeAttr("disabled");
          } else {
            if($("#identificacionOtroAval").val() != "") {
              $("#identificacionOtroAval").val("");
            }
             $("#identificacionOtroAval").attr("disabled","disabled");
          }
        });
        $('#fuenteIngresos').change(function() {
          var option = $(this).find('option:selected');
          if (option.text() == "Otro") {
            $("#fuenteIngresosOtros").removeAttr("disabled");
          } else {
            if($("#fuenteIngresosOtros").val() != "") {
              $("#fuenteIngresosOtros").val("");
            }
             $("#fuenteIngresosOtros").attr("disabled","disabled");
          }
        });
      </script>
    </div>
  </body>
</html>
