<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Valuarte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <header id="rt-top-surround" class="rt-dark">
        <div class="row-fluid">
          <div class="span1"></div>
            <div class="span10 registro">
            <h1>Simulación de crédito</h1>
            <hr />
            <form id="client" action="#" th:action="@{save}" th:object="${client}" method="post">
            <div class="span12 info">
              <div>
                <p th:text="${'Fecha: '+beans.dateFormatter.format(client.now)}" />
              </div>
              <div>
                <label>rfc:</label>
                <input type="text" th:field="*{rfc}"/>
              </div>
              <div>
                <label>Nombre:</label>
                <input type="text" th:field="*{firstName}"/>
              </div>
              <div>
                <label>Apellidos:</label>
                <input type="text" th:field="*{lastName}"/>
              </div>
              <button type="submit">Enviar</button>
            </div>
            </form>
          </div>
        </div>
      </header>
  	</div>
  </body>
</html>
