<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <br/><br/>
      <header id="rt-top-surround" class="rt-dark">
        <div class="row-fluid">
          <form id="client" action="#" th:action="@{simulator/save}" th:object=${client} method="post">
          <div>
            <p th:text="${'Fecha: '+beans.dateFormatter.format(date)}" />
          </div>
          <div>
            <label>Nombre:</label>
            <input type="text" name="name" id="name"/>
          </div>
          <div>
            <label>RFC:</label>
            <input type="text" name="rfc" id="rfc"/>
          </div>
          <div>
            <label>Canal: AVANDARO</label>
          </div>
          <div>
            <label>Sucursal: DF</label>
          </div>
          <div>
            <label>ID: 31</label>
          </div>
          <button type="submit">Enviar</button>
        </form>
        </div>
      </header>
  	</div>
  </body>
</html>
