<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:text="'RFC: ' + ${simulator.rfc}" />
    <p th:text="'firstName: ' + ${simulator.firstName}" />
    <p th:text="'lastName: ' + ${simulator.lastName}" />
    <p th:text="'Total del Crédito: ' + ${simulator.loan}" />
    <p th:text="'Tasa de interés Anualizada: ' + ${simulator.tia}" />
    <p th:text="'Comisión por Apertura: ' + ${simulator.openingCommission}" />
    <p th:text="'IVA: ' + ${simulator.iva}" />
    <p th:text="'Frecuencia de Pago: ' + ${simulator.paymentPeriod}" />
    <p th:text="'Número de Pagos: ' + ${simulator.numberOfPayments}" />
    <p th:text="'Tasa de Interés Mensual: ' + ${simulator.tim}" />
    <p th:text="'Días de Pago: ' + ${simulator.paydays}" />
    <p th:text="'Fecha de Inicio: ' + ${simulator.startDate}" />
    <p th:text="'Seguro de Vida y Desempleo: ' + ${simulator.lifeInsurance}" />
    <p th:text="'Pago: ' + ${simulator.payment}" />
  </body>
</html>
