.busqueda_tag{
	float: left;
	margin-top: 7px;
	font-weight: bold;
	text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
	}
	.inline-menu .busqueda_tag{
	
	color: rgb(255, 255, 255);
	}
 .search-field {
	float: left;
	width: 230px;
	height: 34px;
	margin: 3px 0 0 8px;
	padding: 0 8px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	color: #888;
	font-style: italic;
	font-weight: 400;
	background: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #ffffff);
	background-image: -moz-linear-gradient(top, #f5f5f5, #ffffff);
	background-image: -ms-linear-gradient(top, #f5f5f5, #ffffff);
	background-image: -o-linear-gradient(top, #f5f5f5, #ffffff);
	background-image: linear-gradient(top, #f5f5f5, #ffffff);
	-moz-box-shadow: 0 1px 1px #e2e2e2 inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #e2e2e2 inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #e2e2e2 inset, 0 1px 0 #fff;
	}

#busqueda_tags  .search-field:focus {
	border-color: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.submit-container {
	float: left;
	width: 27px;
	height: 28px;
	margin: 3px 0 0 -5px;
	padding: 0;
	cursor: pointer;
	background: #99CCFF;
	border: 1px solid #99CCFF;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	}

.submit-container:hover, .submit-container:focus {
	background: #009ED3;
	border: 1px solid #009ED3;
}


#busqueda_tags .submit {
	float: left;
	width: 60px !important;
	height: 32px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 0px solid #000;
	background: url(magnifier.png) 4px 4px no-repeat;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	border-radius: 6px;
}

form{
	margin: 0 0 0px;
}

#busqueda_tags input[type="submit"], input[type="button"] {
border: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
}