<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Valuarte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <div class="container">
        <div class="row-fluid">
          <div class="span12 registro">
            <div th:if="${error}">
              <p th:each="er : ${error}">
                <p th:text="${er}" align="center" class="alert alert-error"/>
              </p>
            </div>
            <div class="info">
              <h1><font color="white">REGISTRO DE USUARIO
              <p>* Campo Obligatorio</p></font></h1>
              <form id="register" action="#" th:action="@{/Users/save}" th:object="${user}" method="post"  class="form-horizontal">
                <div class="span12">
                  <div class="span12">
                    <div class=""></div>
                    <div class="span6">
                      <div class="control-group">
                        <label><h2>Usuario*</h2></label>
                        <input type="text" th:field="*{username}" class="span9 search-query"/>
                        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
                      </div>
                    </div>
                    <div class="span5"></div>
                  </div>
                  <div class="span12">
                    <div class="span6">
                      <div class="control-group">
                        <label><h2>Contraseña*</h2></label>
                        <input type="password" th:field="*{password}" class="span9 search-query" />
                      </div>
                    </div>
                    <div class="span6">
                      <div class="control-group">
                        <label><h2>Confirme su contraseña*</h2></label>
                        <input type="password" th:field="*{passwordRepeated}" class="span9 search-query" />
                      </div>
                    </div>
                  </div>
                  <div class="span12">
                    <div class="span6">
                      <div class="control-group">
                        <label><h2>Nombre(s)</h2></label>
                        <input type="text" th:field="*{firstName}" class="span9 search-query"/>
                      </div>
                    </div>
                    <div class="span6">
                      <div class="control-group">
                        <label><h2>Apellido</h2></label>
                        <input type="text" th:field="*{lastName}" class="span9 search-query"/>
                      </div>
                    </div>
                  </div>
                  <div class="span12">
                    <div class="span6">
                      <div class="control-group">
                        <label><h2>Dirección de correo electrónico</h2></label>
                        <input type="email" th:field="*{email}" class="span9 search-query"/>
                      </div>
                    </div>
                    <div class="span6"></div>
                  </div>
                  <div class="span11" align="right">
                    <input type="image" th:src="@{/images/Botonregistrar_Registro.png}" id="submit" />
                    <input type="image" th:src="@{/images/Botoncancelar_Registro.png}" id="reset" />
                    <p>&nbsp;&nbsp;</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp;&nbsp;</p>
      <script type="text/javascript">
        $(document).ready(function(){
          $("#submit").on('click', function(e){
           e.preventDefault();
            $("#register").submit();
          });
          $("#reset").on('click',function(e){
            e.preventDefault();
            $("#register")[0].reset()
          });
        });
      </script>
    </div>
  </body>
</html>
