<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Valuarte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body align="center">
    Valuarte
    Ingresa tus datos y comienza a navegar
    <div th:if="${error}">
      <p th:each="er : ${error}">
        <font color="red"> <p th:text="${er}"/></font>
      </p>
    </div>
    <form action="#" th:action="@{/Users/save}" th:object="${user}" method="post" >
      <p>
      <label>Username<font color="red">*</font> :</label>
        <input type="text" th:field="*{username}" />
      </p>
      <p>
        Password <font color="red">*</font>:
        <input type="password" th:field="*{password}" />
      </p>
      <p>
        Repeat Password <font color="red">*</font>:
        <input type="password" th:field="*{passwordRepeated}" />
      </p>
      <p>
        First Name :
        <input type="text" th:field="*{firstName}" />
      </p>
      <p>
        Last Name :
        <input type="text" th:field="*{lastName}" />
      </p>
      <p>
        Email :
        <input type="email" th:field="*{email}" />
      </p>
      <p>
        <font color="red">* Campos Obligatorios</font>
      </p>
      <p>
        <input type="reset" value="Reset" />
        <input type="submit" value="Submit" />
      </p>
    </form>
  </body>
</html>
