

.body {
  background-image: url("../images/Fondo.jpg");
  background-size:100% 435%;
  background-repeat: no-repeat;
  line-height:1.8em; 
  font-size: 1em;
  font-family: 'Muli', sans-serif !important;
}

#myCarousel{ margin:0px !important; }

.pharma>div{ height:700px !important; }

.footer {
  background-image: url("../images/BarraAviso.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  color: #ffffff;
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
  font-style: normal !important;
}

.contenedor {
  width: 1200px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1340px !important;
}

.dropdown-menu {
  background-color: black !important;
}

.abajo {
  background-image: url("../images/BarraAviso.jpg") !important;
  background-size: 400% !important;
  background-repeat: no-repeat !important;
 }
.sendForm {
  background-image: url("../images/BotonEnviar.png");
  background-size: 100% 250%;
  background-repeat: no-repeat;
}

.back-lines {
	background-image: url("../images/PlastaQuinesSomos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.back-lines-benefi {
  background-image: url("../images/PlastaQuinesSomos.jpg");
  background-size: 1745px 2120px;
  background-repeat: no-repeat;
}

.back-lines-who {
  background-image: url("../images/PlastaQuinesSomos.jpg");
  background-size: 1745px 890px;
  background-repeat: no-repeat;
}

.back-lines-edu {
  background-image: url("../images/PlecaEducacion.jpg");
  background-size: 100% 200%;
  background-repeat: no-repeat;
}

.back-lines-pro {
  background-image: url("../images/PlecaAviso.jpg");
  background-size: 100% 200%;
  background-repeat: no-repeat;
}

.info {
  padding-left:2em
}

.text {
  font-size: 22px !important;
}

.textList {
  font-size: 20px !important;
}

.textBenefit {
  font-size: 16px !important;
}

.textaviso {
  font-size: 14px !important;
}
.diagramaBeneficios {
  background-image: url("../images/PlastaBeneficios2.jpg");
  width: 1290px !important;
  height:990px;
}

.privacidad {
  background-image: url("../images/PlecaAviso.jpg");
}
.navbar-inner a{
  font-weight: bold !important;
  font-family: arial !important;
  font-style: normal !important;
  font-size: 16px !important;
}
.navbar-inner a:hover,
.navbar-inner a:focus{
  color: #00CCCC !important;
  font-weight: bold !important;
  font-family: arial !important;
  font-style: normal !important;
  font-size: 16px !important;
}

