<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <title>Simulator Error page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
  <div th:if="${data}">
    <p th:text="'Error: ' + ${data.message}" />
    <a th:href="@{/simulator}">Regresar</a>i
  </div>
  <div th:if="${data == null}">
    <p>Error: Acceso negado</p>
    <a th:href="@{/}">Regresar</a>i
  </div>
</body>
</html>
