<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content" class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="span3"></div>
          <div class="span6 info" align="center">
           <div class="alert alert-error" th:if="${error}">
              <p th:text="${error}" />
            </div>
            <h1>Recuperar mi Contraseña</h1>
            <form th:action="@{/forgetPassword}" method="post">
              <input type="email" name="email" placeholder="Escribe tu correo electronico" />
              <p></p>
              <button align="center" class="btn btn-large btn-primary" type="submit">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
