<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content" class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="span2"></div>
          <div class="spamn8">
            <div class="span12 registro">
              <div class="span6" align="center">
                <br /><br />
                <img src="../../images/iconoValuarteLogin.png" th:src="@{/images/iconoValuarteLogin.png}" width="60%" />
                <h1><font color="white">Administra tus valores con valores</font></h1>
              </div>
              <div class="span6">
                <br /><br />
                <div th:if="${error}">
                  <div align="center" class="alert alert-error">
                    <p th:text="${error}"/>
                  </div>
                </div>
                <form align="left" role="form" action="/login" method="post" class="form-horizontal" id="login">
                  <div>
                    <label for="username"><h3><font color="white">Usuario</font></h3></label>
                    <input type="text" name="username" id="username" required="" autofocus="" class="span9 search-query"/>
                  </div>
                  <p></p>
                  <div>
                    <label for="password"><h3><font color="white">Contraseña</font></h3></label>
                    <input type="password" name="password" id="password" required="" class="span9 search-query" />
                  </div>
                  <br />
                  <div class="span12">
                    <div class="span4">  
                      <button class="btn btn-login btn-block">Iniciar Sesión</button>
                    </div>
                  </div>
                </form>
                <div class="span12">
                  <div class="span4">
                    <br />
                    <a th:href="@{'/forgot'}" class="btn btn-primary btn-block"><font>¡Olvide Mi Contraseña!</font></a>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span2"></div>
        </div>
      </div>
    </div>
  </body>
</html>
