<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <div class="container">
        <div class="row-fluid">
          <div class="span12 back-lines-benefi" >
            <p align="center"><img src="images/BannerBeneficios.jpg" width="100%" height="10px"/></p>
            <div class="info">
              <font color="white">
              <h2 class="text">BENEFICIOS</h2>
              <p><h3 class="text"><font color="#004C99">CON VALUARTE GANA EL EMPLEADO Y GANA LA EMPRESA</font></h3></p>
              <p class="text">
                <b>Las empresas contarán con:</b>
                <ul class="textList">
                  <li style="border-bottom-width: 12px;padding-bottom: 13px;">La posibilidad de ofrecer una prestación adicional, real y tangible en beneficio directo de sus empleados.</li>
                  <li style="border-bottom-width: 12px;padding-bottom: 13px;">Un recurso humano menos endeudado y con mayor poder adquisitivo con el mismo sueldo que recibe. </li>
                  <li style="border-bottom-width: 12px;padding-bottom: 13px;">Sin complicaciones, Valuarte se implementa desde una plataforma autónoma e independiente,
                  sin afectar la operación actual, ni generarle un cargo a su Empresa.</li>
                  <li style="border-bottom-width: 12px;padding-bottom: 13px;">Gracias a los múltiples beneficios de VALUARTE®, los empleados, directivos y propietarios, estarán más tranquilos y satisfechos, lo cual, sin duda alguna, se reflejará en un mejor clima laboral y mayor productividad.</li>
                  <li style="border-bottom-width: 12px;padding-bottom: 13px;">Los servicios de Valuarte no implican costo para la empresa, ni que está funja como aval ó aval solidario de sus empleados</li>
                </ul>
              </p>
              <br />
              <p class="text">
                <b>Los Empleados contarán con:</b>
                <ul class="textList">
                  <li style="border-bottom-width: 12px;padding-bottom: 13px;">Valuarte reestructura los créditos y prestamos personales de los empleados quienes de inmediato obtienen recompensas adicionales. </li>
                  <li style="border-bottom-width: 12px;padding-bottom: 13px;">Con estas recompensas el empleado recupera su poder adquisitivo con el mismo sueldo que recibe, a través de nuestros productos. </li>
                  <li style="border-bottom-width: 12px;padding-bottom: 13px;">El empleado recibe educación financiera y asesoría personalizada. </li>
                  <li style="border-bottom-width: 12px;padding-bottom: 13px;">Cambia de un esquema de consumo con crédito a un esquema de inversiones al consumo. </li>
                  <li style="border-bottom-width: 12px;padding-bottom: 13px;">Las compras que realiza en inversiones al consumo son en productos y servicios que le generan valor para su familia.</li>
                </ul>
              </p>
              </font>
              </div>
              <div class="row-fluid">
                <div class="diagramaBeneficios">
                  <div class="row-fluid">
                    <font color="white">
                    <div class="span11">
                    <div></div>
                    <div class="span2">
                      <h2>GANA</h2>
                      <div class=" textBenefit">Recibe recompensas en efectivo por ahorros en los financiamientos reestructurados.</div>
                    </div>
                    <div class="span2"></div>
                    <div class="span2">
                      <h2>RECIBE</h2>
                      <div class=" textBenefit">Recibe su producto o servicio con un valor cercano al mejor precio del mercado y sin deberlo.</div>
                    </div>
                    <div class="span2"></div>
                    <div class="span2">
                      <h2 >DECIDE</h2>
                      <div class=" textBenefit">Puede disponer del dinero, pagar servicios, disminuir el capital de su financiamiento, etc.</div>
                    </div>
                    </div>
                    </font>
                  </div>
                  <img src="images/IconosBeneficios.png" width="100%" align="middle" />
                  <div class="row-fluid">
                    <font color="white">
                    <div class="span2"></div>
                    <div class="span2">
                      <h2 >DECIDE</h2>
                      <div class="textBenefit"><p>Qué hacer con sus recompensas.</p>Puede disponer del dinero, pagar servicios, disminuir el capital de su financiamiento, etc.</div>
                    </div>
                    <div class="span2"></div>
                    <div class="span2">
                      <h2 align="">GANA</h2>
                      <div class=" textBenefit"><p>Por los retornos de comprar a escala. El poder de muchos.</p>Recibe recompensas en efectivo al adquirir sus productos a través de una línea de inversión y no de crédito.</div>
                    </div>
                    <div class="span2"></div>
                    <div class="span2">
                      <h2 align="">REINVIERTE</h2>
                      <div class="textBenefit">Si así lo prefiere, puede reinvertir en otros consumos y seguir generando.</div>
                    </div>
                    </font>
                  </div>
                  <div  align="center">
                    <p><h1><font color="#00CCCC">GANA POR AHORROS Y BENEFICIOS EN TODO MOMENTO</font></h1></p>
                  </div>
                </div>
              </div>
          </div>
        </div>  
      </div>
      <br/><br/>
  	</div>
  </body>
</html>