<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      #map {
        width: 1300px;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(19.361000, -99.269624),
          zoom: 18,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var iconBase = 'images/';
        var marker = new google.maps.Marker({
          position:  new google.maps.LatLng(19.360950, -99.269600),
          map: map,
          icon: iconBase + 'market.png'
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div layout:fragment="content">
      <header id="rt-top-surround" class="rt-dark">
        <div class="row-fluid" align="center">
          <div class="container back-lines " >
            <p><!--img src="images/mapa.png" width="100%" height="10px" align="center"/-->
              <div id="map"></div>
            </p>
            <div class="info" align="left">
              <h1><font size="5">CONTACTO</font></h1>
              <H2><font size="4">Si tienes cualquier duda o comentario, ponte en contacto con nosotros.</font></H2>
              <div class="span11">
                <div class="span5">
                  <form name="contactValuarte" th:object="${contact}" method="post" action="#" th:action="@{/send}" >
                  <fieldset>
                    <label><h3>Nombre*</h3></label>
                    <input type="text" th:field="*{name}" class="span10 search-query" />
                    <label><h3>Correo Electrónico*</h3></label>
                    <input type="email" class="span10 search-query" th:field="*{emailOptional}" />
                    <label><h3>Télefono*</h3></label>
                    <input type="tel" class="span10 search-query" th:field="*{phone}" maxlength="12" minlength="8" />
                    <label><h3>Asunto*</h3></label>
                    <input type="text" class="span10 search-query" th:field="*{subject}" />
                    <label><h3>Mensaje*</h3></label>
                  </fieldset>
                  <textarea rows="5" th:field="*{message}" style="overflow:auto;resize:none"  class="span10"></textarea>
                    <p></p>
                    <div align="right">
                      <button type="submit" class="btn btn-primary" align="center">Enviar</button>
                    </div>
                </form>
                </div>
                <div class="span2"></div>
                <div class="span5" align="left">
                  <h1>Dirección</h1>
                  <h1>Prolongacion Paseo de la Reforma No. 1190 Oficina 2709 Col. Cruz Manca, Cuajimalpa, CP. 05349, México, D.F.</h1>
                  <p>
                  <h1>Teléfono</h1>
                  <h1>01(55) 1664    6771    (72)</h1>
                  </p>
                  <p>
                    <h1>servicio@valuarte.com.mx </h1>
                    <h1>valuarte.mx</h1>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <br/>
    </div>
  </body>
</html>
