<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <header id="rt-top-surround" class="rt-dark">
        <div class="row-fluid" align="center">
          <div class="container back-lines-edu" >
            <p><img src="images/BannerEducacion2.jpg" width="100%" height="10px" align="center"/></p>
            <div class="span12" align="left">
              <p></p>
              <p><font size="5">EDUCACIÓN FINANCIERA</font></p>
              <font size="5">Si deseas recibir asesoría personalizada comunícate con nosotros al teléfono<br />
              01(55) 1664 6771 (72) ó envíanos un correo a servicio@valuarte.mx</font>
              <p></p>
            </div>
          </div>
        </div>
      </header>
      <br/>
    </div>
  </body>
</html>