<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <br/><br/>
      <header id="rt-top-surround" class="rt-dark">
      <div class="row">
        <div id="carrousel" class="carrousel">
          <div class="rt-container" id="imageCarrusel">
            <div class="rt-grid-12 rt-alpha rt-omega" id="imageCarrusel">
              <div class="rt-block fp-roksprocket-showcase nomargintop nopaddingtop">
                <div class="module-surround" id="imageCarrusel">
                  <div class="module-content">
                   <div class="sprocket-headlines navigation-active animation-slideandfade" data-headlines="153" align="center">
                    <div class="sprocket-headlines-container">
                      <ul class="sprocket-headlines-list">
                        <li >
                          <span class="sprocket-headlines-item active" data-headlines-item="data-headlines-item" >
                            <img src="images/carrusel1.jpg"  class="carrusel" />
                          </span>
                          </li>
                          <li >
                            <span class="sprocket-headlines-item" data-headlines-item="data-headlines-item">
                              <span class="sprocket-headlines-text" >
                                <img src="images/carrusel2.jpg"  class="carrusel"  />
                              </span>
                            </span>
                          </li>
                          <li >
                            <span class="sprocket-headlines-item" data-headlines-item="data-headlines-item">
                              <span class="sprocket-headlines-text">
                                <img src="images/carrusel3.jpg"  class="carrusel" />
                              </span>
                            </span>
                          </li>
                          <li >
                            <span class="sprocket-headlines-item" data-headlines-item="data-headlines-item">
                              <span class="sprocket-headlines-text">
                                <img src="images/carrusel4.jpg" class="carrusel"  />
                              </span>
                            </span>
                          </li>
                          <li >
                            <span class="sprocket-headlines-item" data-headlines-item="data-headlines-item">
                              <span class="sprocket-headlines-text">
                                <img src="images/carrusel5.jpg"  class="carrusel" />
                              </span>
                            </span>
                          </li>
                          <li >
                            <span class="sprocket-headlines-item" data-headlines-item="data-headlines-item">
                              <span class="sprocket-headlines-text">
                                <img src="images/carrusel6.jpg" class="carrusel"  />
                              </span>
                            </span>
                          </li>
                      </ul>
                      <div class="sprocket-headlines-navigation">
                        <span class="arrow next" data-headlines-next="data-headlines-next"><span></span></span>
                        <span class="arrow prev" data-headlines-previous="data-headlines-previous"><span></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          </div>
        </div>
      </div>
        </header>
      <br/><br/><br/><br/>
  	</div>
  </body>
</html>
