<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <br/><br/>
      <header id="rt-top-surround" class="rt-dark pharma">
          <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
                <div class="item active">
                  <img src="images/carrusel1.jpg" width="100%" />
                </div>       
                <div class="item">
                  <img src="images/carrusel2.jpg"  width="100%"  />
                </div>   
                <div class="item ">
                  <img src="images/carrusel3.jpg"  width="100%" />
                </div>
                <div class="item ">
                  <img src="images/carrusel4.jpg"  width="100%" />
                </div>
                <div class="item ">
                  <img src="images/carrusel5.jpg"  width="100%" />
                </div>
                <div class="item ">
                  <img src="images/carrusel6.jpg"  width="100%" />
                </div>
            </div>
            <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
            <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
          </div>
      </header>

  	</div>
  </body>
</html>
