<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <header id="rt-top-surround" class="rt-dark">
        <div class="row-fluid">
          <div class="span1"></div>
          <div class="span10 back-lines-who" >
            <p><img src="images/BannerMisionVision.png" width="100%" height="10px"/></p>
            <div class="span11">
              <div class="span7" align="left">
                <h1>MISIÓN</h1>
                <font size="5">Ser un puente de interelaciónes productivas<br /> 
                que generen valor a las partes involucradas.
                <p></p>
                <p></p>
                <ul >
                  <li style="line-height:1.2em">Generar Confianza para entrar a un<br /> Sistema Financiero.</li>
                  <li style="line-height:1.2em">Sanar sus habitos financieros que se<br /> traducirán en valor.</li>
                  <li style="line-height:1.2em">Mejorar el nivel de vida del usuario.</li>
                </ul>
                </font>
              </div>
              <div class="span5" align="left">
                <h1>VISIÓN</h1>
                <font size="5">Ser una Empresa de servicios 
                que crea sistemas y modelos innovadores, 
                éticos, centrados en el cliente, confiables,
                vanguardistas y sólidos que le generan
                valor al usuario.</font>
                <br />
              </div>
              <p>&nbsp;</p>
              <p><br /></p>
            </div>
          </div>
        </div>
      </header>
      <br/>
    </div>
  </body>
</html>