<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <header id="rt-top-surround" class="rt-dark">
        <div class="row" align="center">
          <div class="contenedor back-lines-who" align="center">
            <p><img src="images/BannerMisionVision.png" width="100%" height="10px"/></p>
            <p><img src="images/mision-texto.png" width="121%" /></p>
          </div>
        </div>
      </header>
      <br/>
    </div>
  </body>
</html>