<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <header id="rt-top-surround" class="rt-dark">
        <div class="row">
          <div class="container back-lines-pro ">
            <img src="images/BannerProducto.png" width="100%" height="10px" />
            <div class="info">
              <h1>PRODUCTOS</h1>
              <h2><font color="#000099" size="5">RESTITUYE CON VALOR</font></h2>
              <font size="4">Ofrecemos a nuestros clientes la posibilidad de reestructurar créditos y préstamos personales de cualquier institución financiera ó tienda departamental, aportando un beneficio adicional para el consumo productos y servicios que generan valor en beneficio de nuestros clientes.</font><br/><br/>
              <p><font size="4">Los pasos a seguir son mínimos: Te invitamos a concer más de nuestro servicio en nuestros teléfonos: 01(55) 1664 6771 (72)</font></p>
              <h2><font color="#000099">INVERSIONES AL CONSUMO</font></h2>
              <font size="4">Se trata de una línea de inversión de plazo variable, para invertir en consumos que generan valor para el empleado y su familia, respaldado en el salario y con cargo a nómina.<br/>
              El empleado recupera su poder adquisitivo en un alto porcentaje de su capacidad de gasto. Adicionalmente, el empleado recibe Educación Financiera y Planeación del Gasto Familiar y Personal.</font><br/>
            </div>
            <br/>
          </div>
        </div>  
      </header>
      <br/><br/>
  	</div>
  </body>
</html>
