<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <header id="rt-top-surround" class="rt-dark">
        <div class="row" align="center">
          <div class="contenedor back-lines-who" align="center">
            <p><img src="images/BannerQuinesSomos.png" width="200%" height="20px"/></p>
            <span >
            <h1 align="left" class="info"><b>¿QUIÉNES SOMOS?</b></h1>
              <p><h2 align="left" class="info ">Una empresa regida bajo los principios de la banca ética, dedicada a recuperar e incrementar el poder adquisitivo de sus clientes.</h2></p>
              <p><h2 align="left" class="info">Creamos un sistema alterno que le genere valor a nuestros clientes y no a los modelos tradicionales, buscando un manejo más sano y armónico de las finanzas personales de nuestros usuarios, lo cual se traduce en hábitos financieros eficientes que generan más valor para ti y tu familia.</h2></p>
              <p><h2 align="left" class="info">Con un equipo humano dinámico, nos adaptamos a las necesidades de todo tipo y tamaño de empresas, generando de forma inmediata beneficios tangibles para sus empleados; contamos con una plataforma sencilla y amigable para la realización de nuestras operaciones.</h2></p>
            </span>
          </div>
        </div>  
      </header>
  	</div>
  </body>
</html>
